<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arco.mapper.BoardMapper">

	<select id="getList" resultType="com.arco.domain.BoardVO">
	<![CDATA[
		select * from post
	]]>
	</select>

	<select id="read" resultType="com.arco.domain.BoardVO">
		select * from post where post_id=#{post_id}
	</select>

	<insert id="insert">
		insert into post (post_id, post_title, post_content, post_writer)
		values (
		(select nextval('post_id') from dual), 
		#{post_title}, 
		#{post_content}, 
		#{post_writer}
		)
	</insert>

	<delete id="delete">
		delete from post where post_id = #{post_id}
	</delete>
	
	<update id="update">
		update post
		set post_title=#{post_title},
		post_content=#{post_content},
		post_writer=#{post_writer}
		where post_id = #{post_id}
	</update>
	
</mapper>