<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arco.mapper.BoardMapper">

	<select id="getList" resultType="com.arco.domain.BoardVO">
	<![CDATA[
		select * from post ORDER BY post_id DESC
	]]>
	</select>

	<select id="read" resultType="com.arco.domain.BoardVO">
		select * from post where
		post_id=#{post_id}
	</select>

	<insert id="insert">
		insert into post (post_id, post_title, post_content,
		post_writer)
		values (
		(select nextval('post_id') from dual),
		#{post_title},
		#{post_content},
		#{post_writer}
		)
	</insert>

	<delete id="delete">
		delete from post where post_id = #{post_id}
	</delete>

	<update id="update">
		update post
		set post_title=#{post_title},
		post_content=#{post_content}
		where post_id = #{post_id}
	</update>

	<sql id="criteria">
					<if test="type=='T'.toString()">
						where post_title
						like concat('%', #{keyword}, '%')
					</if>
					<if test="type=='W'.toString()">
						where post_writer
						like concat('%', #{keyword}, '%')
					</if>
					<if test="type=='C'.toString()">
						where post_content
						like concat('%', #{keyword}, '%')
					</if>
					<if test="type=='TC'.toString()">
						where post_title
						like concat('%', #{keyword}, '%')
						or post_content
        				like concat('%',#{keyword},'%')
					</if>
					<if test="type=='TW'.toString()">
						where post_title
						like concat('%', #{keyword}, '%')
						or post_writer
        				like concat('%',#{keyword},'%')
					</if>
					<if test="type=='TWC'.toString()">
						where post_title
						like concat('%', #{keyword}, '%')
						or post_content
        				like concat('%',#{keyword},'%')
        				or post_writer
        				like concat('%',#{keyword},'%')
					</if>
	</sql>
	
	<select id="getListWithPaging" resultType="com.arco.domain.BoardVO">
		<![CDATA[
		SELECT *
		FROM post
		where brd_id=#{brd_id}

		]]>
		<include refid="criteria"></include>
		<![CDATA[
		ORDER BY post_id DESC
		LIMIT #{pageNumForLimit},10
		]]>

	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(*) from post 
		where brd_id=#{brd_id} and

		
		<include refid="criteria"></include>
		
		post_id>0
	</select>
</mapper>