<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">
      
    <beans:bean id="bcryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" /> 

	<!-- 관리자 권한할 때 수정하라고 해서 추가했는데 잘 되는건지 모르겠어서 일단 주석처리해뒀습니다 -->
<!-- 	
	HTTP Security 설정
	<http>
	    <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
	    <intercept-url pattern="/**" access="permitAll" />
	
 	    <form-login
	        login-page="/mypage/login"
	        default-target-url="/"
	        authentication-failure-url="/mypage/login"
	        username-parameter="userId"
	        password-parameter="userPass" />
	    <logout logout-url="/logout" logout-success-url="/" />
	    <csrf disabled="true"/> 
	</http>
	
	인메모리 사용자 설정
	<authentication-manager>
	    <authentication-provider>
	        <password-encoder ref="bcryptPasswordEncoder" />
	        <user-service>
	            <user name="admin" password="{noop}1234" authorities="ROLE_ADMIN" />
	        </user-service>
	    </authentication-provider>
	</authentication-manager> -->
    
</beans:beans>