<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<!-- 회원가입 -->
	<insert id="register">
		INSERT INTO MEMBER( USERID
		, USERPASS
		, USERNAME
		, PHONE
		, EMAIL )
		VALUES( #{userId}
		, #{userPass}
		, #{userName}
		, #{phone}
		,
		#{email}
		)
	</insert>

	<!-- 로그인 -->
	<select id="login" resultType="com.member.vo.MemberVO">
		SELECT USERID, USERPASS, USERNAME, PHONE, EMAIL, ROLE
		FROM MEMBER
		WHERE
		USERID
		= #{userId}
		<!-- AND USERPASS = #{userPass} -->
	</select>


	<!-- 회원정보 수정 -->
	<update id="memberUpdate">
		UPDATE MEMBER SET
		<!-- USERPASS = #{userPass}, -->
		USERNAME = #{userName}, PHONE= #{phone}, EMAIL= #{email}, USERPASS=
		#{userPass}
		WHERE USERID = #{userId}
	</update>

	<update id="mypageUpdate">
		UPDATE MEMBER SET
		<!-- USERPASS = #{userPass}, -->
		USERNAME = #{userName}, PHONE= #{phone}, EMAIL= #{email}
		WHERE USERID =
		#{userId}
	</update>

	<!-- 회원탈퇴 -->
	<delete id="memberDelete">
		DELETE FROM MEMBER
		WHERE USERID = #{userId}
		<!-- AND USERPASS = #{userPass} -->
	</delete>

	<!-- 패스워드 체크 -->
	<select id="passChk" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE USERID = #{userId}
		AND USERPASS = #{userPass}
	</select>

	<!-- 패스워드 수정 -->
	<update id="passUpdate" parameterType="com.member.vo.MemberVO">
		UPDATE MEMBER SET
		USERPASS
		= #{newPass}
		WHERE USERID = #{userId} AND USERPASS = #{userPass}
	</update>

	<!-- 아이디 중복 체크 -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE
		USERID = #{userId}
	</select>

	<!-- 닉네임 중복 체크 -->
	<select id="nameChk" resultType="int">
		SELECT COUNT(*) FROM MEMBER
		WHERE
		USERNAME = #{userName}
	</select>

	<!-- 작성한 한줄평 불러오기 (페이징 적용) -->
	<select id="getMemberCollectionRevsWithPaging"
		resultType="com.member.vo.CollectionReviewVO">
		SELECT * FROM collectionRev WHERE userId = #{userId}
		LIMIT ${start}, 12
		<!-- SELECT *, collection.seq AS collectionSeq FROM collectionRev JOIN 
			collection ON collectionRev.seq = collection.seq WHERE userId = #{userId} 
			LIMIT ${start}, 12 -->
	</select>

	<!-- 작성한 게시글 불러오기 (페이징 적용) -->
	<select id="getMemberPostsWithPaging"
		resultType="com.member.vo.BoardVO">
		SELECT * FROM post WHERE user_id = #{userId}
		LIMIT
		${start}, 12
	</select>

	<!-- 작성한 댓글 불러오기 (페이징 적용) -->
	<select id="getMemberCommentsWithPaging"
		resultType="com.member.vo.ReplyVO">
		SELECT * FROM comment WHERE com_writer_id = #{userId}
		LIMIT
		${start}, 12
	</select>

	<!-- 작성한 한줄평 총 개수 -->
	<select id="countCollectionRevs" resultType="int">
		SELECT COUNT(*) FROM
		collectionRev WHERE userId = #{userId}
	</select>

	<!-- 작성한 게시글 총 개수 -->
	<select id="countPosts" resultType="int">
		SELECT COUNT(*) FROM post
		WHERE user_id = #{userId}
	</select>

	<!-- 작성한 댓글 총 개수 -->
	<select id="countComments" resultType="int">
		SELECT COUNT(*) FROM
		comment WHERE com_writer_id = #{userId}
	</select>

	<!-- all 회원 목록 조회 (페이징 적용) -->
	<select id="listAllMembers" resultType="com.member.vo.MemberVO">
		SELECT * FROM MEMBER
		LIMIT ${start}, 12
	</select>

	<!-- all 한줄평 불러오기 (페이징 적용) -->
	<select id="listAllReviews"
		resultType="com.member.vo.CollectionReviewVO">
		SELECT * FROM collectionRev
		LIMIT ${start}, 12
	</select>

	<!-- all 게시글 불러오기 (페이징 적용) -->
	<select id="listAllPosts" resultType="com.member.vo.BoardVO">
		SELECT * FROM post
		LIMIT
		${start}, 12
	</select>

	<!-- all 댓글 불러오기 (페이징 적용) -->
	<select id="listAllComments" resultType="com.member.vo.ReplyVO">
		SELECT * FROM comment
		LIMIT ${start}, 12
	</select>

	<!-- admin 회원 총 인원 -->
	<select id="countAllMembers" resultType="int">
		SELECT COUNT(*) FROM
		MEMBER
	</select>

	<!-- admin 회원 삭제 -->
	<select id="deleteUser" resultType="int">
		DELETE FROM MEMBER
		WHERE USERID = #{userId}
	</select>

	<!-- admin 한줄평 총 개수 -->
	<select id="countAllCollectionRevs" resultType="int">
		SELECT COUNT(*)
		FROM collectionRev
	</select>

	<!-- admin 게시글 총 개수 -->
	<select id="countAllPosts" resultType="int">
		SELECT COUNT(*) FROM post
	</select>

	<!-- admin 댓글 총 개수 -->
	<select id="countAllComments" resultType="int">
		SELECT COUNT(*) FROM
		comment
	</select>
	
	<!-- 회원 탈퇴/삭제 시 해당 유저의 모든 한줄평 삭제 -->
	<delete id="deleteReviewsByUserId">
		DELETE FROM collectionRev
		WHERE USERID = #{userId}
	</delete>
	
	<!-- 회원 탈퇴/삭제 시 해당 유저의 모든 게시글 삭제 -->
	<delete id="deletePostsByUserId">
		DELETE FROM post
		WHERE user_id = #{userId}
	</delete>
	
	<!-- 회원 탈퇴/삭제 시 해당 유저의 모든 댓글 삭제 -->
	<delete id="deleteCommentsByUserId">
		DELETE FROM comment
		WHERE com_writer_id = #{userId}
	</delete>
	
	<insert id="insertImage" parameterType="com.member.vo.ImageVO">
		INSERT INTO image
		(file_name, content_type, image_data, user_id)
		VALUES (#{file_name},
		#{content_type}, #{image_data}, #{user_id})
	</insert>

	<select id="selectImageByUserId" parameterType="string"
		resultType="com.member.vo.ImageVO">
		SELECT file_name, content_type, image_data
		FROM image
		WHERE
		user_id = #{userId}
	</select>

	<!-- <select id="getProfileImg" resultType="string"> SELECT PROFILEIMG FROM 
		MEMBER WHERE USERID = #{userId} </select> <update id="updateProfileImg"> 
		UPDATE MEMBER SET PROFILEIMG = #{profileImg} WHERE USERID = #{userId} </update> -->
	
	<select id="calendarList" resultType="com.member.vo.CalendarVO">
	<![CDATA[
		select * from dibs where user_id=#{user_id}
	]]>
	</select>
	
</mapper>