<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.collection.mapper.CollectionReviewMapper">

<select id="getList" resultType="com.collection.domain.CollectionReviewVO">

	select*from collectionRev where revSeq > 0
	
</select>


<insert id="insert">

insert into collectionRev(seq, revSeq, userIdx, nickName, revComment, revCount , revStar)
values(#{seq}, nextval('revSeq'), #{userIdx}, #{nickName}, #{revComment, jdbcType=VARCHAR}, #{revCount}, #{revStar})

</insert>


<select id="read" resultType="com.collection.domain.CollectionReviewVO">

	select * from collectionRev where seq = #{seq}

</select>

<delete id="delete">

	delete from collectionRev where revSeq = #{revSeq}
	
</delete>

<update id="update">

	update collectionRev
		set revComment = #{revComment}
		where revSeq = #{revSeq}

</update>



</mapper>