<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.collection.mapper.CollectionMapper">
	
	
	<select id="getCollectionList" resultType="com.collection.domain.CollectionVO">
		
	
	</select>
	
	<insert id="insertCollection">
	
		insert into collection (seq, title, startDate, endDate, place, realmName, price, url, phone, gpsX, gpsY, imgUrl, placeAddr, sido, thumbnail)
		values (seq_board.nextval, #{title}, #{content}, #{writer})
	
	</insert>


</mapper>